@charset "utf-8";

.info{
    height: 170pt;
    width: 100%;
    background:url("../content/testbg.jpg") center;
}
.profpic{
    border-radius: 50%;
    overflow: hidden;
    margin: 7pt 5pt;
}
.type3 {
    display: inline-block;
    width: 150pt;
    height: 150pt;
    background: var(--background-colour);
    border: 3pt solid var(--lighter-head);
}
.pp{
    height: 151pt;
    width: 151pt;
    object-fit:cover;
}
.name{
    display: inline-block;
    vertical-align: top;
}
.joindate{
    margin-left: 10pt;
    font-size: 12pt;
}
h1{
    color: var(--text-colour);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.courseinfo{
    margin-left: 10pt;
    font-size: 13pt;
}
.members{
    width:100pt;
    border: 2px ridge var(--lighter-head);
    padding:3pt;
    margin-left: 5%;
    text-align:center;
}
.members h3{
    margin: 5px 0;
}
.members hr{
    margin:0;
}
.member a:hover{
    background-color:var(--lighter-head);
}