@charset "utf-8";
/*Current Colour Scheme for Site
[data-theme="1"] {
    --background-colour: #6d6d6d;
    --header-colour: #262627;
    --lighter-head: #313030;
    --text-colour: #fff;
    --accent-colour: #8842d5;
}
/*Colour Scheme option 1 (option 3)
[data-theme="1"]{
    --background-colour: #E5E9E7;
    --header-colour: #7AA8A3;
    --lighter-head: #1D393F;
    --text-colour: #EDD31B;
    --accent-colour: #C6572F;
}*/
/*Colour Scheme option 2 (option 11)*/

:root {
    --background-colour: #303036;
    --header-colour: #050401;
    --lighter-head: #272626;
    --other-accent: #30BCED;
    --text-colour: #fffAFF;
    --accent-colour: #FC5130;
}
[data-theme="light"]{

    --background-colour: #EEE;
    --header-colour: #272626;
    --lighter-head: #272626;
    --other-accent: #30BCED;
    --text-colour: #272626;
    --accent-colour: #FC5130;

}
/*Colour Scheme option 3 (option 13)
[data-theme="3"]{
    --background-colour: #007EA7;
    --header-colour: #00171F;
    --lighter-head: #003459;
    --text-colour: #fff;
    --accent-colour: #00A8E8;
}
*/

